* text=auto !eol
FieldPrime/.gradle/2.8/taskArtifacts/cache.properties -text
FieldPrime/.gradle/2.8/taskArtifacts/cache.properties.lock -text
FieldPrime/.gradle/2.8/taskArtifacts/fileHashes.bin -text
FieldPrime/.gradle/2.8/taskArtifacts/fileSnapshots.bin -text
FieldPrime/.gradle/2.8/taskArtifacts/outputFileStates.bin -text
FieldPrime/.gradle/2.8/taskArtifacts/taskArtifacts.bin -text
FieldPrime/.idea/.name -text
FieldPrime/.idea/compiler.xml -text
FieldPrime/.idea/copyright/profiles_settings.xml -text
FieldPrime/.idea/encodings.xml -text
FieldPrime/.idea/gradle.xml -text
FieldPrime/.idea/libraries/ZSDK_ANDROID_API.xml -text
FieldPrime/.idea/libraries/support_annotations_21_0_3.xml -text
FieldPrime/.idea/libraries/support_v4_21_0_3.xml -text
FieldPrime/.idea/misc.xml -text
FieldPrime/.idea/modules.xml -text
FieldPrime/.idea/runConfigurations.xml -text
FieldPrime/.idea/vcs.xml -text
FieldPrime/.idea/workspace.xml -text
FieldPrime/FieldPrime.iml -text
FieldPrime/app/app.iml -text
FieldPrime/app/build.gradle -text
FieldPrime/app/build/generated/source/buildConfig/androidTest/debug/csiro/fieldprime/test/BuildConfig.java -text
FieldPrime/app/build/generated/source/buildConfig/debug/csiro/fieldprime/BuildConfig.java -text
FieldPrime/app/build/generated/source/r/debug/csiro/fieldprime/R.java -text
FieldPrime/app/build/intermediates/assets/debug/d3.min.js -text
FieldPrime/app/build/intermediates/assets/debug/setup.sql -text
FieldPrime/app/build/intermediates/blame/res/debug/multi/values-h700dp-v13.json -text
FieldPrime/app/build/intermediates/blame/res/debug/multi/values-v11.json -text
FieldPrime/app/build/intermediates/blame/res/debug/multi/values-v14.json -text
FieldPrime/app/build/intermediates/blame/res/debug/multi/values.json -text
FieldPrime/app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json -text
FieldPrime/app/build/intermediates/blame/res/debug/single/drawable-ldpi-v4.json -text
FieldPrime/app/build/intermediates/blame/res/debug/single/drawable-mdpi-v4.json -text
FieldPrime/app/build/intermediates/blame/res/debug/single/drawable-xhdpi-v4.json -text
FieldPrime/app/build/intermediates/blame/res/debug/single/layout.json -text
FieldPrime/app/build/intermediates/blame/res/debug/single/menu.json -text
FieldPrime/app/build/intermediates/blame/res/debug/single/xml.json -text
FieldPrime/app/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/AndroidManifest.xml -text
FieldPrime/app/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/aidl/android/support/v4/app/INotificationSideChannel.aidl -text
FieldPrime/app/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/jars/classes.jar -text
FieldPrime/app/build/intermediates/exploded-aar/com.android.support/support-v4/21.0.3/jars/libs/internal_impl-21.0.3.jar -text
FieldPrime/app/build/intermediates/incremental/compileDebugAidl/dependency.store -text
FieldPrime/app/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store -text
FieldPrime/app/build/intermediates/incremental/mergeDebugAndroidTestAssets/merger.xml -text
FieldPrime/app/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml -text
FieldPrime/app/build/intermediates/incremental/mergeDebugAssets/merger.xml -text
FieldPrime/app/build/intermediates/incremental/mergeDebugResources/merger.xml -text
FieldPrime/app/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml -text
FieldPrime/app/build/intermediates/manifests/full/debug/AndroidManifest.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/ic_action_help.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/ic_action_search.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/ic_launcher.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/ic_print_black_24dp.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/l_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/r_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/seek_thumb_normal.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-hdpi-v4/seek_thumb_pressed.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-ldpi-v4/ic_action_search.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-ldpi-v4/ic_launcher.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-ldpi-v4/l_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-ldpi-v4/r_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/ic_action_help.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/ic_action_search.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/ic_launcher.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/ic_print_black_24dp.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/l_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/r_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/seek_thumb_normal.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-mdpi-v4/seek_thumb_pressed.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/ic_action_help.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/ic_action_search.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/ic_launcher.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/ic_print_black_24dp.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/l_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/r_arrow.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/seek_thumb_normal.png -text
FieldPrime/app/build/intermediates/res/merged/debug/drawable-xhdpi-v4/seek_thumb_pressed.png -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/activity_main.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/bluetooth_main.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/button_bar.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/create_instances_dialog.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/file_browse.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/front_list_item.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/int_keyboard.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/print_setup.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/row.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/score_integer.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/score_trait_selector.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/scoring.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/search.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/signin.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/layout/traits.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/menu/act_scoring.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/menu/activity_main.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/values-h700dp-v13/values-h700dp-v13.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/values-v11/values-v11.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/values-v14/values-v14.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/values/values.xml -text
FieldPrime/app/build/intermediates/res/merged/debug/xml/preferences.xml -text
FieldPrime/app/build/intermediates/res/resources-debug-androidTest.ap_ -text
FieldPrime/app/build/intermediates/res/resources-debug.ap_ -text
FieldPrime/app/build/intermediates/symbols/debug/R.txt -text
FieldPrime/app/build/outputs/logs/manifest-merger-debug-report.txt -text
FieldPrime/app/libs/ZSDK_ANDROID_API.jar -text
FieldPrime/app/proguard-project.txt -text
FieldPrime/app/src/main/AndroidManifest.xml -text
FieldPrime/app/src/main/assets/d3.min.js -text
FieldPrime/app/src/main/assets/setup.sql -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActAbout.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActBluetooth.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActMain.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActMainTrialList.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActScoreSets.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActTUNotes.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActTrial.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Bexp.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/BexpNumericComparisonUnary.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ButtonBar.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DabText.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Database.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Datum.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DatumIntegerBase.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DbNames.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgChooseScoreSets.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgCreateScoreSets.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgFilter.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgList.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgPrintSetup.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgSearch.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgSetNodeOrder.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgSignin.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ExceptionHandler.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/FileBrowse.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/GPSListener.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Globals.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/KatXMLParser.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/KeyboardLayout.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Preferences.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Prefs.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Printer.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Pstate.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/RangeSeekBar.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Result.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/SDatatype.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ScoreText.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/SelectorWidget.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Server.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Trait.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitCategorical.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitDate.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitDecimal.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitDialog.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitInteger.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitLocation.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitNumeric.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitPhoto.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitString.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Trial.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Tstore.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Util.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/VerticalList.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ViewLine.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Zprint.java -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_action_help.png -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_print_black_24dp.png -text
FieldPrime/app/src/main/res/drawable-hdpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-hdpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-hdpi/seek_thumb_normal.png -text
FieldPrime/app/src/main/res/drawable-hdpi/seek_thumb_pressed.png -text
FieldPrime/app/src/main/res/drawable-ldpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-ldpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-ldpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-ldpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_action_help.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_print_black_24dp.png -text
FieldPrime/app/src/main/res/drawable-mdpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-mdpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-mdpi/seek_thumb_normal.png -text
FieldPrime/app/src/main/res/drawable-mdpi/seek_thumb_pressed.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_action_help.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_print_black_24dp.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/seek_thumb_normal.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/seek_thumb_pressed.png -text
FieldPrime/app/src/main/res/layout/activity_main.xml -text
FieldPrime/app/src/main/res/layout/bluetooth_main.xml -text
FieldPrime/app/src/main/res/layout/button_bar.xml -text
FieldPrime/app/src/main/res/layout/create_instances_dialog.xml -text
FieldPrime/app/src/main/res/layout/file_browse.xml -text
FieldPrime/app/src/main/res/layout/front_list_item.xml -text
FieldPrime/app/src/main/res/layout/int_keyboard.xml -text
FieldPrime/app/src/main/res/layout/print_setup.xml -text
FieldPrime/app/src/main/res/layout/row.xml -text
FieldPrime/app/src/main/res/layout/score_integer.xml -text
FieldPrime/app/src/main/res/layout/score_trait_selector.xml -text
FieldPrime/app/src/main/res/layout/scoring.xml -text
FieldPrime/app/src/main/res/layout/search.xml -text
FieldPrime/app/src/main/res/layout/signin.xml -text
FieldPrime/app/src/main/res/layout/traits.xml -text
FieldPrime/app/src/main/res/menu/act_scoring.xml -text
FieldPrime/app/src/main/res/menu/activity_main.xml -text
FieldPrime/app/src/main/res/values-h700dp/myStyles.xml -text
FieldPrime/app/src/main/res/values-v11/styles.xml -text
FieldPrime/app/src/main/res/values-v14/styles.xml -text
FieldPrime/app/src/main/res/values/appcolors.xml -text
FieldPrime/app/src/main/res/values/arrays.xml -text
FieldPrime/app/src/main/res/values/ids.xml -text
FieldPrime/app/src/main/res/values/myStyles.xml -text
FieldPrime/app/src/main/res/values/strings.xml -text
FieldPrime/app/src/main/res/values/styles.xml -text
FieldPrime/app/src/main/res/xml/preferences.xml -text
FieldPrime/build.gradle -text
FieldPrime/gradle/wrapper/gradle-wrapper.jar -text
FieldPrime/gradle/wrapper/gradle-wrapper.properties -text
FieldPrime/gradlew -text
FieldPrime/gradlew.bat -text
FieldPrime/import-summary.txt -text
FieldPrime/local.properties -text
FieldPrime/settings.gradle -text
