* text=auto !eol
FieldPrime/FieldPrime.iml -text
FieldPrime/app/app.iml -text
FieldPrime/app/build.gradle -text
FieldPrime/app/libs/ZSDK_ANDROID_API.jar -text
FieldPrime/app/proguard-project.txt -text
FieldPrime/app/src/main/AndroidManifest.xml -text
FieldPrime/app/src/main/assets/d3.min.js -text
FieldPrime/app/src/main/assets/setup.sql -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActAbout.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActBluetooth.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActMain.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActMainTrialList.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActScoreSets.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActTUNotes.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ActTrial.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Bexp.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/BexpNumericComparisonUnary.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ButtonBar.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DabText.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Database.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Datum.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DatumIntegerBase.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DbNames.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgChooseScoreSets.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgCreateScoreSets.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgFilter.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgList.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgPrintSetup.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgSearch.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgSetNodeOrder.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/DlgSignin.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ExceptionHandler.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/FileBrowse.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/GPSListener.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Globals.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/KatXMLParser.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/KeyboardLayout.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Preferences.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Prefs.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Printer.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Pstate.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/RangeSeekBar.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Result.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/SDatatype.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ScoreText.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/SelectorWidget.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Server.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Trait.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitCategorical.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitDate.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitDecimal.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitDialog.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitInteger.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitLocation.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitNumeric.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitPhoto.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/TraitString.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Trial.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Tstore.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Util.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/VerticalList.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/ViewLine.java -text
FieldPrime/app/src/main/java/csiro/fieldprime/Zprint.java -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_action_help.png -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-hdpi/ic_print_black_24dp.png -text
FieldPrime/app/src/main/res/drawable-hdpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-hdpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-hdpi/seek_thumb_normal.png -text
FieldPrime/app/src/main/res/drawable-hdpi/seek_thumb_pressed.png -text
FieldPrime/app/src/main/res/drawable-ldpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-ldpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-ldpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-ldpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_action_help.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-mdpi/ic_print_black_24dp.png -text
FieldPrime/app/src/main/res/drawable-mdpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-mdpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-mdpi/seek_thumb_normal.png -text
FieldPrime/app/src/main/res/drawable-mdpi/seek_thumb_pressed.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_action_help.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_action_search.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_launcher.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/ic_print_black_24dp.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/l_arrow.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/r_arrow.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/seek_thumb_normal.png -text
FieldPrime/app/src/main/res/drawable-xhdpi/seek_thumb_pressed.png -text
FieldPrime/app/src/main/res/layout/activity_main.xml -text
FieldPrime/app/src/main/res/layout/bluetooth_main.xml -text
FieldPrime/app/src/main/res/layout/button_bar.xml -text
FieldPrime/app/src/main/res/layout/create_instances_dialog.xml -text
FieldPrime/app/src/main/res/layout/file_browse.xml -text
FieldPrime/app/src/main/res/layout/front_list_item.xml -text
FieldPrime/app/src/main/res/layout/int_keyboard.xml -text
FieldPrime/app/src/main/res/layout/print_setup.xml -text
FieldPrime/app/src/main/res/layout/row.xml -text
FieldPrime/app/src/main/res/layout/score_integer.xml -text
FieldPrime/app/src/main/res/layout/score_trait_selector.xml -text
FieldPrime/app/src/main/res/layout/scoring.xml -text
FieldPrime/app/src/main/res/layout/search.xml -text
FieldPrime/app/src/main/res/layout/signin.xml -text
FieldPrime/app/src/main/res/layout/traits.xml -text
FieldPrime/app/src/main/res/menu/act_scoring.xml -text
FieldPrime/app/src/main/res/menu/activity_main.xml -text
FieldPrime/app/src/main/res/values-h700dp/myStyles.xml -text
FieldPrime/app/src/main/res/values-v11/styles.xml -text
FieldPrime/app/src/main/res/values-v14/styles.xml -text
FieldPrime/app/src/main/res/values/appcolors.xml -text
FieldPrime/app/src/main/res/values/arrays.xml -text
FieldPrime/app/src/main/res/values/ids.xml -text
FieldPrime/app/src/main/res/values/myStyles.xml -text
FieldPrime/app/src/main/res/values/strings.xml -text
FieldPrime/app/src/main/res/values/styles.xml -text
FieldPrime/app/src/main/res/xml/preferences.xml -text
FieldPrime/build.gradle -text
FieldPrime/gradle/wrapper/gradle-wrapper.jar -text
FieldPrime/gradle/wrapper/gradle-wrapper.properties -text
FieldPrime/gradlew -text
FieldPrime/gradlew.bat -text
FieldPrime/import-summary.txt -text
FieldPrime/local.properties -text
FieldPrime/settings.gradle -text
